{# templates/good_msg.tmpl #}
Hello {{ name }},

I'm happy to inform you that you did very well on today's {{ test_name }}.
You achieved {{ score }} out of {{ max_score }} points!

Nice pontuation. Continue that way!

Mr. Brito